In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)
df = pd.read_csv("../data/heart_disease_raw.csv")
df.head()

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,Low HDL Cholesterol,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,Yes,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,Yes,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,Yes,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,No,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,No,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No

In [7]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9971 non-null   float64
 1   Gender                9981 non-null   object
 2   Blood Pressure        9981 non-null   float64
 3   Cholesterol Level     9970 non-null   float64
 4   Exercise Habits       9975 non-null   object
 5   Smoking               9975 non-null   object
 6   Family Heart Disease  9979 non-null   object
 7   Diabetes              9970 non-null   object
 8   BMI                   9978 non-null   float64
 9   High Blood Pressure   9974 non-null   object
 10  Low HDL Cholesterol   9975 non-null   object
 11  High LDL Cholesterol  9974 non-null   object
 12  Alcohol Consumption   7414 non-null   object
 13  Stress Level          9978 non-null   object
 14  Sleep Hours           9975 non-null   float64
 15  Sugar Consumption     9970 non-null   object
 16  Triglyceride Level    9974 non-null   float64
 17  Fasting Blood Sugar   9978 non-null   float64
 18  CRP Level             9974 non-null   float64
 19  Homocysteine Level    9980 non-null   float64
 20  Heart Disease Status  10000 non-null  object
dtypes: float64(9), object(12)
memory usage: 1.6+ MB

In [9]:
df.columns

Index(['Age', 'Gender', 'Blood Pressure', 'Cholesterol Level',
       'Exercise Habits', 'Smoking', 'Family Heart Disease', 'Diabetes', 'BMI',
       'High Blood Pressure', 'Low HDL Cholesterol', 'High LDL Cholesterol',
       'Alcohol Consumption', 'Stress Level', 'Sleep Hours',
       'Sugar Consumption', 'Triglyceride Level', 'Fasting Blood Sugar',
       'CRP Level', 'Homocysteine Level', 'Heart Disease Status'],
      dtype='object')

In [12]:
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))
df.columns

Index(['age', 'gender', 'blood_pressure', 'cholesterol_level',
       'exercise_habits', 'smoking', 'family_heart_disease', 'diabetes', 'bmi',
       'high_blood_pressure', 'low_hdl_cholesterol', 'high_ldl_cholesterol',
       'alcohol_consumption', 'stress_level', 'sleep_hours',
       'sugar_consumption', 'triglyceride_level', 'fasting_blood_sugar',
       'crp_level', 'homocysteine_level', 'heart_disease_status'],
      dtype='object')

In [13]:
df.isna().sum().sort_values(ascending=False)

alcohol_consumption     2586
cholesterol_level         30
sugar_consumption         30
diabetes                  30
age                       29
high_ldl_cholesterol      26
crp_level                 26
triglyceride_level        26
high_blood_pressure       26
sleep_hours               25
low_hdl_cholesterol       25
smoking                   25
exercise_habits           25
bmi                       22
stress_level              22
fasting_blood_sugar       22
family_heart_disease      21
homocysteine_level        20
gender                    19
blood_pressure            19
heart_disease_status       0
dtype: int64

In [ ]:
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols].describe() #seem to be missing some values in some columns 
#visuaization 
df["cholesterol_level"].hist(bins=30)
plt.title("Cholesterol Level Distribution")
#doesn't seem to be any weird outliers

,age,blood_pressure,cholesterol_level,bmi,sleep_hours,triglyceride_level,fasting_blood_sugar,crp_level,homocysteine_level
count,9971.000000,9981.000000,9970.000000,9978.000000,9975.000000,9974.000000,9978.000000,9974.000000,9980.000000
mean,49.296259,149.757740,225.425577,29.077269,6.991329,250.734409,120.142213,7.472201,12.456271
std,18.193970,17.572969,43.575809,6.307098,1.753195,87.067226,23.584011,4.340248,4.323426
min,18.000000,120.000000,150.000000,18.002837,4.000605,100.000000,80.000000,0.003647,5.000236
25%,34.000000,134.000000,187.000000,23.658075,5.449866,176.000000,99.000000,3.674126,8.723334
50%,49.000000,150.000000,226.000000,29.079492,7.003252,250.000000,120.000000,7.472164,12.409395
75%,65.000000,165.000000,263.000000,34.520015,8.531577,326.000000,141.000000,11.255592,16.140564
max,80.000000,180.000000,300.000000,39.996954,9.999952,400.000000,160.000000,14.997087,19.999037

In [17]:
categorical_cols = df.select_dtypes(include="object").columns
for col in categorical_cols:
    print(df[col].value_counts())
    print("-" * 40)

gender
Male      5003
Female    4978
Name: count, dtype: int64
----------------------------------------
exercise_habits
High      3372
Medium    3332
Low       3271
Name: count, dtype: int64
----------------------------------------
smoking
Yes    5123
No     4852
Name: count, dtype: int64
----------------------------------------
family_heart_disease
No     5004
Yes    4975
Name: count, dtype: int64
----------------------------------------
diabetes
No     5018
Yes    4952
Name: count, dtype: int64
----------------------------------------
high_blood_pressure
Yes    5022
No     4952
Name: count, dtype: int64
----------------------------------------
low_hdl_cholesterol
Yes    5000
No     4975
Name: count, dtype: int64
----------------------------------------
high_ldl_cholesterol
No     5036
Yes    4938
Name: count, dtype: int64
----------------------------------------
alcohol_consumption
Medium    2500
Low       2488
High      2426
Name: count, dtype: int64
----------------------------------------
stress_level
Medium    3387
Low       3320
High      3271
Name: count, dtype: int64
----------------------------------------
sugar_consumption
Low       3390
High      3330
Medium    3250
Name: count, dtype: int64
----------------------------------------
heart_disease_status
No     8000
Yes    2000
Name: count, dtype: int64
----------------------------------------

In [18]:
df["fasting_blood_sugar"].isna().mean()

0.0022

In [20]:
df["fasting_blood_sugar"].fillna(
    df["fasting_blood_sugar"].median(), inplace=True
)
df["fasting_blood_sugar"].isna().mean()

C:\Users\ananr\AppData\Local\Temp\ipykernel_17104\3001649119.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["fasting_blood_sugar"].fillna(

0.0

In [ ]:
yes_no_cols = [
    "smoking",
    "family_heart_disease",
    "diabetes",
    "high_blood_pressure",
    "low_hdl_cholesterol",
    "high_ldl_cholesterol",
    "heart_disease_status"
]

for col in yes_no_cols:
    df[col] = df[col].map({"Yes": 1, "No": 0}) #binary encoding

In [ ]:
ordinal_map = {"low": 0,"medium": 1,"high": 2}

ordinal_cols = [
    "exercise_habits",
    "alcohol_consumption",
    "stress_level",
    "sugar_consumption"
]

for col in ordinal_cols:
    df[col] = df[col].str.lower().map(ordinal_map)
 #ordinal coding

In [ ]:
df["gender"] = df["gender"].map({"Male": 1, "Female": 0}) #gender encoding

In [26]:
df.isna().sum()
df.info()
#this shows us we have some missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   9971 non-null   float64
 1   gender                9981 non-null   float64
 2   blood_pressure        9981 non-null   float64
 3   cholesterol_level     9970 non-null   float64
 4   exercise_habits       9975 non-null   float64
 5   smoking               9975 non-null   float64
 6   family_heart_disease  9979 non-null   float64
 7   diabetes              9970 non-null   float64
 8   bmi                   9978 non-null   float64
 9   high_blood_pressure   9974 non-null   float64
 10  low_hdl_cholesterol   9975 non-null   float64
 11  high_ldl_cholesterol  9974 non-null   float64
 12  stress_level          9978 non-null   float64
 13  sleep_hours           9975 non-null   float64
 14  sugar_consumption     9970 non-null   float64
 15  triglyceride_level    9974 non-null   float64
 16  fasting_blood_sugar   10000 non-null  float64
 17  crp_level             9974 non-null   float64
 18  homocysteine_level    9980 non-null   float64
 19  heart_disease_status  10000 non-null  int64
dtypes: float64(19), int64(1)
memory usage: 1.5 MB

In [ ]:
#we drop alcohol_consumption column as there are many missing values (~25%)
df = df.drop(columns = ['alcohol_consumption'])

KeyError: "['alcohol_consumption'] not found in axis"

In [33]:
#i think our data set is big enough such that we can drop all missing columns without worrying our data set is too little 
df_clean = df.dropna()
print(f"Rows before: {len(df)}, Rows after dropna: {len(df_clean)}")

Rows before: 10000, Rows after dropna: 9554

In [ ]:
df_clean.isna().sum() #should show 0 missing values

age                     0
gender                  0
blood_pressure          0
cholesterol_level       0
exercise_habits         0
smoking                 0
family_heart_disease    0
diabetes                0
bmi                     0
high_blood_pressure     0
low_hdl_cholesterol     0
high_ldl_cholesterol    0
stress_level            0
sleep_hours             0
sugar_consumption       0
triglyceride_level      0
fasting_blood_sugar     0
crp_level               0
homocysteine_level      0
heart_disease_status    0
dtype: int64

In [37]:
df_clean.to_csv("../data/cleaned_data.csv", index=False)